/*
** {{organisation}} PROJECT, {{year}}
** Module: Common
** File description:
** User header file that
** defines all user-
** friendly symbols.
*/

#ifndef {{NAME}}_H
    #define {{NAME}}_H

#endif
